@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: red;
}

a {
    color: white;
    text-decoration: none;

}

.title {
    display: flex;
    justify-content: space-between;
}

.tap { 
    font-size: 2rem;
    margin: 1rem;
}

.phone {
    font-size: 2rem;
    margin: 1rem;
    font-size: 2rem;
    justify-content: flex-end;
    align-items: flex-end;

}

.logo {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
}

.logo h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.logo p{
    margin: 0;
    color: rgb(24, 11, 11);
    font-weight: bold;
    font-size: 1rem;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60vh;
    margin-top: 10rem;
}

.carousel {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
    display: flex;
}

.slide {
    text-align: center;
    width: 100vw;
}


.slide img {
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
}

.slide h1 {
    font-size: 4rem;
    color: white;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.slide a {
    background-color: tomato;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.arrow {
    background-color: transparent;
    border: 0;
    font-size: 5rem;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.left-arrow {
    left: 2rem;   
}

.right-arrow {
    right: 2rem;
}

